* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
input {
  outline: none;
}
header .container {
  margin: 30px auto 0;
  width: 1218px;
  height: 69px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .container_icon {
  width: 120px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
}

.container .header_p p {
  width: 109px;
  height: 38px;
  top: 43px;
  left: 496px;
  gap: 0px;
  opacity: 0px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_location {
  width: 296px;
  height: Hug (38px) px;
  top: 39px;
  left: 727px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_location img {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}

.container .header_location p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number {
  width: Hug (208px) px;
  height: 69px;
  top: 30px;
  left: 1087px;
  gap: 3px;
  border: 0px 0px 1px 0px;
  opacity: 0px;
}

.container .header_number h3 {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.68px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_number .header_number_time {
  width: 158px;
  height: Hug (20px) px;
  top: 67px;
  left: 1087px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 0px;
}

.container .header_number .header_number_time img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}
.container .header_number .header_number_time p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_book {
  width: 216px;
  height: 69px;
  top: 30px;
  left: 1350px;
  /* padding: 10px 16px 10px 16px; */
  gap: 10px;
  border: 1px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0px;
  justify-content: end;
}

.container .header_book .header_book_h3 {
  width: 216px;
  height: 39px;
  top: 30px;
  left: 1350px;
  padding: 10px 15px;
  gap: 10px;
  border: 1px solid #cfb08a;
  opacity: 0px;
}

.container .header_book .header_book_h3 h3 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.container .header_book .header_book_email {
  width: 159px;
  height: Hug (20px) px;
  top: 79px;
  left: 1410px;
  gap: 10px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .header_book .header_book_email img {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
}

.container .header_book .header_book_email p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

/* ---------------------------- */

.menu .container {
  margin-top: 30px;
  width: 100%;
  height: 55px;
  top: 129px;
  gap: 0px;
  opacity: 0px;
  background: #cb883a;
  display: flex;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
}

.menu .container .menu_bar {
  display: flex;
  width: Hug (715px) px;
  height: Hug (55px) px;
  top: 129px;
  left: 351px;
  gap: 0px;
  opacity: 0px;
}

.menu .container .menu_bar li {
  list-style: none;
  padding: 18px 24px 18px 24px;
  gap: 10px;
  opacity: 0px;
}

.menu .container .menu_bar li a {
  text-decoration: none;
  color: #fff;
}

.menu .container .menu_search {
  position: relative;
}

.menu .container .menu_search input {
  width: 250px;
  height: 35px;
  top: 139px;
  left: 1319px;
  gap: 0px;
  border-radius: 100px;
  outline: none;
  padding: 0 20px;
  padding-right: 40px;
  border: none;
  opacity: 0px;
  font-size: 16px;
}

.menu .container .menu_search img {
  width: 13.44px;
  height: 13.33px;
  /* transform: translate(50%); */
  right: 6%;
  top: 30%;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #1d1d1d;
  position: absolute;
  z-index: 10;
}

/* -------------------------------- */

.carusel .container {
  background-image: url("../imgs/Rectangle\ 4.svg");
  height: 540px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}
.carusel .container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carusel .container .text {
  width: 533px;
  /* height: 132px; */
  position: absolute;
  z-index: 1;
  left: 100px;
}

.carusel .container .text h1 {
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: left;
  color: #fff;
}
.carusel .container .text ul {
  padding: 10px 20px;
  width: Hug (330px) px;
  height: Hug (86px) px;
  top: 426px;
  left: 351px;
  gap: 10px;
  opacity: 0px;
  color: #fff;
}

.carusel .container .text li {
  font-family: Open Sans;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.carusel .container .text button {
  border: none;
  margin-top: 30px;
  text-align: center;
  background-color: #cb883a;
  vertical-align: middle;
  padding: 16px 40px 16px 40px;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.51px;
  text-align: left;
  color: #fff;
}

/* ------------------------- */

.service .container {
  padding-top: 30px;
  display: flex;
  margin: 70px auto;
  width: 1211px;
  height: 457px;
  top: 794px;
  left: 358px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

/* .service .container */

.service_text {
  padding: 70px 0px 20px 40px;
  width: 35%;
}
.service_text .service_o {
  display: flex;
  flex-wrap: wrap;
}
.service_text h2 {
  margin-left: 30px;
  font-weight: 700;
  font-size: 100px;
  color: #d29650;
}
.service_text h3 {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  color: #1d1d1d;
}
.service_text p {
  margin: 20px 0 20px 30px;
  font-size: 20px;
  font-weight: 400;
}
.service__box {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}
.service__box .garant,
.service__box .price,
.service__box .nalichi,
.service__box .dostavka {
  margin: 15px;
  padding: 15px 20px;
  gap: 20px;
  border: 1px solid #d1d1d1;
  width: 45%;
}

.products {
  width: 100%;
  background-color: #d1d1d1;
  gap: 30px;
}
.products h2 {
  text-align: center;
  padding: 40px 30px;
}
.products h3 {
  padding: 20px;
  color: #1d1d1d;
  font-weight: 400;
  text-align: center;
}
.products h4 {
  color: #d29650;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.products img {
  text-align: center;
}
.box {
  text-align: center;
}
.prod-box {
  margin: 0 auto;
  width: 920px;
  display: flex;
}
/*  */

.location {
  margin-top: 60px;
  background-image: url("../imgs/Rectangle\ 11.png");
}

.location .container {
  display: flex;
}
.location-text {
  padding: 30px;
  color: white;
}

.location h2 {
  margin: 80px 300px 0px 350px;
  font-weight: 700;
  font-size: 32px;
}
.location li {
  margin: 30px 0px 50px 300px;
  font-weight: 400;
}

.location iframe {
  height: 100%;
  margin-left: 50px;
}

.certificate .container h2 {
  margin-top: 20px;
  padding: 40px;
  text-align: center;
}
.certificate .cfr-photo {
  gap: 40px;
  display: flex;
}
.certificate img {
  align-items: center;
  text-align: center;
}

.certificate .container { 
  display: flex;
  padding: 97px 449px;
  align-items: center;
  flex-wrap: wrap;          
  justify-content: center;
}

/* ----------------------------------------------------------------------------------- */

.main .container h2 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  color: #1d1d1d;
}

.main .main_infos {
  margin-top: 72px;
  display: grid;
  gap: 150px;
}

.main_infos .info {
  display: flex;
  padding: 70px 351px;
  gap: 134px;
}
.main_infos .info:nth-child(even) {
  background-color: #ccc;
  flex-direction: row-reverse;
}
.main_infos .info:nth-child(2) .right_p {
  gap: 0;
}
.main_infos .info:nth-child(2) .right h3 {
  margin-top: 70px;
}
.main_infos .info:nth-child(3) .right_p {
  gap: 40px;
}
.main_infos .info:nth-child(3) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right h3 {
  margin-top: 90px;
}
.main_infos .info:nth-child(4) .right_p ul {
  margin-top: 130px;
}
.main_infos .info .img {
  background-image: url("../imgs/photo_2024-05-16_11-03-55.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  height: 645px;
}

.main_infos .info .img h3 {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 43.58px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 255px 108px;
}

.main_infos .info .right_p {
  width: 594px;
  height: 264px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  opacity: 0px;
}
.main_infos .info .right_p p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p ul {
  display: block;
  font-family: "Open Sans";
  padding: 0 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 17.79px;
  text-align: left;
}

.main_infos .info .right_p p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}
.main_infos .info .right_p span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21.79px;
  text-align: left;
}

.main_infos .info .right h3 {
  margin-top: 47px;
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: #1d1d1d;
}

.main_infos .info .right table thead tr {
  background-color: #dedede;
}

.main_infos .info .right table thead tr th,
td {
  padding: 10px 20px 10px 20px;
  gap: 10px;
  opacity: 0px;
}

.main_infos .info .right table tbody tr td {
  border-bottom: 1px solid #dedede;
}

.main_infos .info .right table tbody tr:first-child td:first-child {
  border: none;
  font-weight: bold;
  width: 34%;
}

.main_infos .info .right table {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
  color: #1d1d1d;
}

.info .info_btn {
  margin-top: 51px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.info .info_btn button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 24.51px;
}

.info .info_btn button:first-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  opacity: 0px;
  background-color: transparent;
}
.info .info_btn button:last-child {
  padding: 16px 50px 16px 50px;
  gap: 10px;
  border: 1px solid #d29650;
  background-color: #d29650;
  color: #fff;
  opacity: 0px;
}
